{% extends "layout.html" %}

{% block title %}
 - Tests
{% endblock %}

{% block content %}

    <div id="test-control-bar" class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h3 class="card-header bg-light text-black">Test Management</h3>
                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary me-2" onclick="addTest()">New Test</button>
                            </div>
                            <input type="text" id="searchInput" class="form-control" placeholder="Search tests" onkeyup="searchTests()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p id="noResultsMessage" style="display: none;">No results found. Please widen your search.</p>

    <div id="tests-list" class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="border: none;">

                    {% for test in tests %}
                        <div class="card mb-3">
                            <div class="card-header justify-content-between align-items-center bg-primary text-white">
                                <div class="dropdown d-flex text-center row justify-content-center">
                                    <button class="btn btn-link text-decoration-none text-white type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <h5 class="card-title text-center mb-0 ">{{ test.name }}</h5>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><button class="dropdown-item" onclick="editTest('{{ test.id }}')">Edit</button></li>
                                        <li><button class="dropdown-item" onclick="deleteTest('{{ test.id }}')">Delete</button></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="container">
                                            <p class="card-text">Created by: {{ test.created_by_username }}</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="container">
                                            <p class="card-text">Created at: {{ test.created_at }}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-3">
                                    <div class="card-header bg-secondary text-white">
                                        <label for="description">Description:</label>
                                    </div>
                                    <div class="scrollable-text-container" style="max-height: 100px; overflow-y: auto;">
                                        <p class="scrollable-text mt-2" id="description" placeholder="Test Description">{{ test.description }}</p>
                                    </div>
                                </div>

                                <!-- Button to toggle test steps -->
                                <button class="btn btn-transparent mb-3" onclick="toggleTestSteps('{{ test.id }}')">-- Toggle Test Steps --</button>

                                <!-- Test steps section -->
                                <div id="testSteps_{{ test.id }}" style="display: none;">
                                    {% for step_index in range(test.steps|length) %}
                                        {% set step = test.steps[step_index] %}
                                        <div class="card mb-3">
                                            <div class="card-header bg-light text-black">
                                                <h7 class="card-title mb-0">Test Step {{ step_index + 1 }}</h7>
                                            </div>
                                            <div class="card-body">
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <label class="fw-bold">Action:</label>
                                                        <div class="scrollable-text-container" style="max-height: 100px; overflow-y: auto;">
                                                            <p class="scrollable-text">{{ step.action }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <label class="fw-bold">Location:</label>
                                                        <div class="scrollable-text-container" style="max-height: 100px; overflow-y: auto;">
                                                            <p class="scrollable-text">{{ step.location }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <label class="fw-bold">Result:</label>
                                                        <div class="scrollable-text-container" style="max-height: 100px; overflow-y: auto;">
                                                            <p class="scrollable-text">{{ step.result }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <script>
        function toggleTestSteps(testId) {
            var testSteps = document.getElementById('testSteps_' + testId);
            if (testSteps.style.display === 'none') {
                testSteps.style.display = 'block';
            } else {
                testSteps.style.display = 'none';
            }
        }
    </script>

{% endblock %}
